:root {
  --title-text-color: #212121;
  --primer-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --color-white: #ffffff;
  --color-fons: #2f303a;
}

.body {
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/*header*/

.logo-web {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3px;
}

.logo-studio {
  color: #000000;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3px;
}

/*сайтовая навигация*/

.header-nav .link {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 2px;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.link.portfolio {
  color: var(--accent-color);
}

.link.studio {
  color: var(--accent-color);
}

.header-contact .contact {
  color: var(--primer-text-color);
}

.header-contact .contact:hover,
.header-contact .contact:focus {
  color: var(--accent-color);
}

/*герой*/

.hero {
  background-color: var(--color-fons);
}

.hero-title {
  color: var(--color-white);
}

/*описание преимуществ*/

.section-title {
  color: var(--title-text-color);
}

.section-text {
  color: var(--primer-text-color);
}

/*секций занятий и сотрудников*/

.section-name {
  color: var(--title-text-color);
}

.team-name {
  color: var(--title-text-color);
}

.team-position {
  color: var(--primer-text-color);
}

.section.team {
  background-color: #f5f4fa;
}

/*кнопки*/

.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
}

.hero-button {
  color: var(--color-white);
  background-color: var(--accent-color);
}

/*footer*/

.footer {
  background-color: var(--color-fons);
}

.footer-addres {
  color: var(--color-white);
}

.footer-link {
  color: rgb(255, 255, 255, 60%);
}

.logo-studio-footer {
  color: var(--color-white);
}
.footer-adres:hover,
.footer-addres:focus,
.foter-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}

/*portfolio*/

.projects-name {
  color: var(--title-text-color);
}

.projects-description {
  color: var(--primer-text-color);
}

.projects-link:focus {
  color: var(--accent-color);
}
