:root {
  --title-text-color: #212121;
  --primer-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --color-white: #ffffff;
  --color-fons: #2f303a;
}

.body {
  background-color: var(--primary-bg-color);
}

.list {
  list-style: none;
}

/*header*/

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

/*сайтовая навигация*/

.header-nav .link {
  color: var(--title-text-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.link.portfolio {
  color: var(--accent-color);
}

.link.studio {
  color: var(--accent-color);
}

.header-contact .contact {
  color: var(--primer-text-color);
}

.header-contact .contact:hover,
.header-contact .contact:focus {
  color: var(--accent-color);
}

/*герой*/

.hero {
  background-color: var(--color-fons);
}

.hero-title {
  color: var(--color-white);
}

/*описание преимуществ*/

.section-title {
  color: var(--title-text-color);
}

.section-text {
  color: var(--primer-text-color);
}

/*секций занятий и сотрудников*/

.section-name {
  color: var(--title-text-color);
}

.team-name {
  color: var(--title-text-color);
}

.team-position {
  color: var(--primer-text-color);
}

.section.team {
  background-color: #f5f4fa;
}

/*кнопки*/

.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
}

.hero-button {
  color: var(--color-white);
  background-color: var(--accent-color);
}

/*footer*/

.footer {
  background-color: var(--color-fons);
}

.footer-addres {
  color: var(--color-white);
}

.footer-link {
  color: rgb(255, 255, 255, 60%);
}

.logo-studio-footer {
  color: var(--color-white);
}

/*portfolio*/

.projects-name {
  color: var(--title-text-color);
}

.projects-description {
  color: var(--primer-text-color);
}

.projects-link:focus {
  color: var(--accent-color);
}
/*основной цвет текста
  #212121;*/
/* вторичный цвет текста 
  color: #757575;
  /*цвет фона
  color: #E5E5E5;*/
/*вторичный цвет фона
  color: #F5F4FA;*/
/*цвет акцента
  color: #2196F3;*/ ;
